@charset "utf-8";
html {
    font-size: 62.5%;
    font-family: 'Noto Sans KR';
}
body {
    font-family: 'Noto Sans KR', sans-serif;
}
/* Safe Area */
.w1280 {
    width: 1280px;
    width: 66.66%;
    margin: 0 auto;
}
#wrap {
    max-width: 100%;
    margin: 0 auto;
}
/* Header */
header {
    height: 900px;
    background-image: url('../images/tigers/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header>nav{
    width: 100%;
    height:90px;
    background-color: whitesmoke;
    position: fixed;
    top: 0vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    
}
header .gnb {
    color: gray;
    font-weight: 700;
    font-size: 2rem;
}
#gnb2{
    width:100%;
    background-color: whitesmoke;
    z-index: 997;
    position: fixed;
    top: 9vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0;
    display: none;
}

#gnb2 div ul li{
    font-size: 14px;
    padding: 5px 0;
    margin: 0 auto;
}
.logo a{
    width: 0;
    height: 0;
    border-bottom:100px solid transparent;
    border-top:50px solid whitesmoke;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top:9vh;
    z-index: 999999999999;
}
.logo a img{
    position: fixed;
    top: -12vh;
    left: 50%;
    transform: translateX(-50%);
    width:125px;
    z-index: 9999999999;
}
.gnb{
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: top;
}
#gnb2 ul{
    padding-right: 50px;
}
#gnb2 ul:nth-child(3){
   padding-left:50px;
}
#gnb2 ul:nth-child(4){
   padding-left:150px;
}
header .gnb li {
    margin-top: 30px;
    text-align: left;
}
.gnb li a:hover {
    color: #ffcc33;
}
/* -------------------------------------------------------------- */
/* ImageText Deco */


.img_deco {
    padding-top: 300px;
    width: 500px;
    height:800px;
    border: none;
    text-align: center;
}
.slider .img_deco h2 {
    font-size: 2rem;
    color: #fff;
    margin: 0 auto;
    font-weight: 700;
    margin-top: 230px;
    line-height: 5rem;
    
}
header .slider .img_deco p {
    font-size: 1.6rem;
    color: white;
    
}
header .slider .img_deco button {
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    margin-top: 20px;
    border-radius: 25px;
}
header .slider .img_deco button a {
    font-size: 14px;
    font-weight: 700;
}
.score{
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 400px;
    color: white;
    font-size: 3rem;
}
.score li:first-child,
.score li:last-child{
    font-size: 2.4rem;
}

.score li:nth-child(3),
.score li:nth-child(5){
    font-size: 5rem;
}
.score li:nth-child(4){
    color: rgb(1, 100, 128);
}
.score li img{
    width:80px;
    height:80px;
}

/* ---------------------------------------------------------------------- */
/* Section CardBox */
.card_box {
    background-color: #dcdcdc;
    height: 640px;
}
.card_box>h2{
    color: white;
    font-weight: 700;
    font-size: 3rem;
    position: relative;
    top: -100px;
    width:66.66%;
    margin:0 auto;
}
h2>span{
    color: red;
}
/* 3단 CardBox */
/*cardbox_box*/
#gallery_wrap{
    width:25%;
    margin: 0 auto;
    
}
#gallery_wrap2{
    width:66.66%;
    margin: 0 auto;
    position:relative;
    left: 0;
    top: -80px;
    border: 0px solid black;
    border-radius: 25px;
}
.slider{
    width: 33%;
}
.inslider{
    width:66.66%;
    height:500px;
    display: flex;
    justify-content: space-between;
}

.card_box_view {
    width: 400px;
    height: 450px;
    background-color: #fff;
    z-index: 999;
    /* 추가css */
    overflow: hidden;
    box-shadow: 3px 3px 3px gray;
    border-radius: 25px;
}
.card_box_view h2{
    width:100%;
    height:50%;
    overflow: hidden;
}
.card_box_view h2 a img{
    width:100%;
    height:100%;
}
.card_box_view h2 iframe{
    width:100%;
    height:100%;
}
.card_box_view div p{
    margin-top: 20px;
    margin-left: 10px;
}
.card_box_view div p:nth-child(1){
    color: red;
    font-size: 1.6rem;
    font-weight: 700;
}
.card_box_view div p:nth-child(2){
    color: rgb(43, 42, 42);
    font-size: 1.8rem;
    font-weight: 700;
}
/* 달력이미지 */
.card_box_view div p img{
    width:20px;
    height:20px;
}
.card_box_view div p:last-child{
    color: gray;
    display: flex;
    justify-content: left;
    margin-top: 40px;
    font-size: 1.4rem;
}
.card_box_view div p:last-child p{
    margin-left: 50px;
}


/* CardBox Text  */
.card_box_info {
    width: 66.666%;
    margin:0 auto;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.card_box_info h2 {
    font-size: 12px;
    margin-bottom: 50px;
    color: #807f7f;
    font-weight: 400;
}
.card_box_info h2>span{
    color: #373636;
    font-weight: 500;
}
.card_box_info p {
    margin-bottom: 50px;
    font-size: 18px;
    color: #807f7f;
    font-weight: 700;
}
.card_box_info p>a>img {
    vertical-align: middle;
    margin-bottom: 4px;
}

/* Section ABOUTUS */
.about_us {
    padding: 100px 0 140px;
}
.about_us .about_us_text {
    color: #807f7f;
    text-align: center;
    margin-bottom: 60px;
    line-height: 1.5;
}
.about_us .line {
    width: 110px;
    height: 2px;
    border-bottom: 1px solid #fc3;
    margin-bottom: 60px;
    /* 데코라인 가운데 오게 하기 */
    margin: 0 auto;
}
.about_us_tab {
    margin-top: 60px;
    width:100%;
    height: 450px;
    display: flex;
    justify-content: space-between;
}
.about_us_tab div{
    width:50%;
    padding: 20px 30px;
}
.about_us_tab h3{
    font-size: 30px;
    font-weight: 700;
    padding-top: 30px;
    margin-bottom: 30px;
}
.about_us_tab div p{
    font-size: 16px;
    margin: 20px 0;
}
.right{
    display: flex;
    justify-content: space-around;
    height:450px;
    overflow: hidden;
}
.about_us_tab div img{
    width:45%;
    height:480px;
}
/* Section 02 */
.real_title {
    background-color: #dcdcdc;
}
.real_time {
    /* 플렉스 */
    display: flex;
    justify-content: space-between;
    /* 교차축 레이아웃 */
    align-items: center;
    padding:88px 30px;
    
}
.real_time ul {
    text-align: center;
    width:30%;
}

.real_time ul li {
    margin-bottom: 14px;
}
.real_time ul h5{
    margin-bottom: 36px;
}
.real_time ul p {
    margin-top: 64px;
    margin-bottom: 0;
}
.real_time ul li{
    font-size: 1.7rem;
    color: #000000;
    display: inline-block;
    width: 180px;
    height: 32px;
    line-height: 32px;
}
.real_time ul li:hover {
    color: black;
    font-weight: 700;
}
.you{
    width: 60%;
}
.you div{
    width: 700px;
    height: 480px;
}
.you2,
.you3,
.you4{
    display: none;
}
.you img {
    width:100%;
    height:100%;
}
.yot1{
    background-color: #a56fbb;
    color:#000000;
    font-weight: 700;
}
.yot p{
    margin: 0 auto;
    width: 180px;
    background-color: #303267;
    color: white;
    box-shadow: 3px 3px 3px #16162e;
}
/* 마지막 li 버튼은 호버효과 없애기 */
.real_title .real_time ul li:last-child:hover {
    background-color: transparent;
}

/* Section WHY */
.why {
    padding-top: 100px;
    padding-top: 380px;
    padding-bottom: 160px;
}

/* Section FAQ */
.faq_people{
    display: flex;
    justify-content: space-between;
}
.faq_people>div{
    width: 48%;
    font-size: 16px;
}
.faq{
    width: 100%;
}
.faq p{
    display: none;
}
.button{
    height: 20px;
    margin: 30px 0;
}
.button+p{
    padding: 20px 0;
    font-size: 14px;
}
.faq,.faq2{
    border-bottom: 1px solid silver;
}

.faq_saying {
    background-color: #dcdcdc;
    padding: 70px 0 130px;
}
h4{
    font-size: 30px;
    font-weight: 700;
}
h5>span{
    color: red;
    font-weight: 700;
    font-size: 24px;
}
.button>span{
    color: red;
    font-weight: 700;
    font-size: 18px;
}
p>span{
    color: black;
    font-weight: 700;
}
.faq2{
    width:100%;
}
.faq2 div:first-child{
    margin-top: 20px;
}
.ride_title{
    font-size: 18px;
    font-weight: 700;
}
.come{
    width:100%;
}
.rideride{
    display: flex;
    justify-content: left;
}
.ride{
    width:70px;
}
.ride p{
    border-radius: 25px;
    border: 1px solid white;
    margin: 20px 0;
    text-align: center;
    width:70px;
}
.ride p:first-child{
    background-color:#5d5f9c;
}
.ride p:last-child{
    background-color: rgb(203, 172, 80);
}
.comein{
    width:88%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.comein div{
    margin: 10px 0;
}
/* Aside Banner */
.banner {
    width: 100%;
}
.banner img{
    width:100%;
    height: 90%;
}

/* Footer */
.footer {
    background-color: #000;
    color: #fff;
    padding-top: 100px;
    border-top: 1px solid silver;
}
/* Footer Logo, SNS */
.footer .footer_logo {
    width: 510px;
}
.footer .footer_logo dt {
    margin: 24px 0;
    text-align: center;
    margin-right:50px;
}
.footer_logo dt img{
    width:100px;
}
.footer .footer_logo dd {
    font-size: 14px;
    color: #e1e1e1;
    line-height: 32px;
    margin-bottom: 32px;
}
.footer .footer_logo .sns {
    display: inline-block;
    margin-right: 20px;
}
/* Footer Services */
.footer .footer_services {
    width: 330px;
}
.footer .footer_services dt {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer .footer_services dd {
    font-size: 14px;
    color: #c7c4c4;
    font-weight: 400;
    margin-bottom: 20px;
}
.footer .footer_services dd a:hover {
    color: #fc3;
}
/* Footer Assistance */
.footer .footer_assistance {
    width: 330px;
}
.footer .footer_assistance dt {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer .footer_assistance dd {
    font-size: 14px;
    color: #c7c4c4;
    font-weight: 400;
    margin-bottom: 20px;
}
.footer .footer_assistance dd a:hover {
    color: #fc3;
}
/* Footer About */
.footer .footer_about dt {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer .footer_about dd {
    font-size: 14px;
    color: #c7c4c4;
    font-weight: 400;
    margin-bottom: 20px;
}
.footer .footer_about dd a:hover {
    color: #fc3;
}

/* Copyright */
.footer .copyright {
    text-align: center;
    margin-top:50px;
    padding-top: 70px;
    padding-bottom: 32px;
}
.footer .copyright_line {
    width: 100%;
    border-top: 1px solid #fff;
    margin-bottom: 32px;
}

/* 플롯 레이아웃 */
.footer_logo,
.footer_services,
.footer_assistance,
.footer_about {
    /* 플롯 */
    float: left;
}
.copyright {
    clear: both;
}